# Database
MONGODB_URI=mongodb://localhost:27017/newsblogs

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dylwallze
NEXT_PUBLIC_CLOUDINARY_API=448792944728376
CLOUDINARY_API_SECRET=pNLvplH25u-YY86oVjcggrPjkdo

# JWT Secret (optional for future auth)
JWT_SECRET=your_jwt_secret_key_here
